@import 'tailwindcss';

@font-face {
  font-family: 'Bebas';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Regular';
  src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bold';
  src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header-title {
  font-family: 'Bebas';
}

.regular {
  font-family: 'Regular';
}

.bold {
  font-family: 'Bold';
}

body {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0f0d13;
    --secondary: #b560ff;
  }
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.hover-secondary:hover {
  color: var(--secondary);
}

.border-secondary {
  border: 1px solid #b560ff;
}

.border-secondary-skinny {
  border: 0.33px solid #b560ff;
}
