@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bebas';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.header-title{
  font-family: 'Bebas', sans-serif;
}

Ò


body {
  scroll-behavior: smooth;
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0F0D13;
    --secondary : #B560FF;
  }
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}
